{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        Stranger
        {% endif %}!
    </h1>
    <h1>Welcome to ZL's blog!</h1>
</div>
<div>
    {% if current_user.can(4) %}
    {{ wtf.quick_form(form) }}
{#        <div class="form-group required">#}
{#        {{ form.title(id="title", class="form-control", placeholder=form.title.label.text) }}#}
{#        </div>#}
{#         <div class="form-group">#}
{#             <div class="row">#}
{#                 <div class="col-md-6">#}
{#                     {{ form.body(only_input=True, class="input-markdown", placeholder=form.body.label.text) }}#}
{#                 </div>#}
{#                 <div class="col-md-6">#}
{#                    {{ form.body(only_preview=True) }}#}
{#                 </div>#}
{#             </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#             {{ form.submit(class="btn btn-default") }}#}
{#         </div>#}
{#        <div>#}
{#        <form method="post" action="">#}
{#        {{ form.csrf_token }}#}
{#        {{ form.title(id="title", class="form-control", placeholder=form.title.label.text) }}#}
{#        {{ form.body(class="ckeditor") }}#}
{#        <button type="submit" class="btn btn-success">Submie</button>#}
{#        </form>#}
{#        </div>#}
    {% endif %}
</div>
<h3>Posts</h3>
{% include '_posts.html' %}
    {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}



